@import url(./reset.css);

/*theme*/
:root{
    --background-theme : #2d3436;
    --background-list: #00b894;
    --backgroun-list-even: #81ecec;
    --color-text: #fff;
    --background-level-two:#222;
    --secchangebox: #99B2DD;
}

header h1{
    line-height: 7.0rem;
    text-align: center;
    background-color: var(--background-list);
    color: var(--background-level-two);
    font-family: 'Mia Nueva', sans-serif;
    
}

section{
    max-width: 100rem;
    margin: 5rem auto;

}

section h2{
    background-color: var(--background-level-two);
    color: var(--color-text);
    text-align: center;
    line-height: 6.4rem;
}

section ul{
    line-height: 3.5rem;
    background-color: var(--background-list);
    color: var(--background-level-two);
}

section ul li{
    padding: .5rem;
}

li{
    padding: 1%;
}
ul  :nth-child(2n){
    background-color: var(--secchangebox);
}

/* footer*/

footer{
    text-align: center;
}

/* media queris

@media screen and (max-width: 80rem) {
    ul primary-grid{
        grid-template-columns: repeat(2,1rem);

    }
    header h1{
        font-size: 1.6rem;
        margin: 0;
    }
    
}

@media  screen and (orientation: landscape) {
    ul primary-grid{
        grid-template-columns: repeat(4,1rem);

    }
    header h1{
        font-size: xx-large;
        margin-bottom: 5rem;
    }
    
}*/